body{
    background: cyan;
    font-family: 'Special Elite',cursive;
}
.header_div{
    background: rgb(231, 90, 90);
    color: green;
}
.header_div p{
    font-family:'Roboto', sans-serif;
    color: orange;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family:'Roboto' sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;

}
.copy_right_footer{
    position: fixed;
    color: green;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: red;
    line-height: 2;
    text-align: center;
    text-shadow: 5px 5 px 5px darkcyan;
}